
:root{
--button-stail-color: #F4F4FD;
--button-stail-color-2: #404BBF;
--button-stail-color-3: #FFFFFF;
--button-stail-color-4--web-1: #4D5AE5;
--background-picture-1: #E7E9FC;
--background-picture: #FFFFFF;
--webstudio-backround: #2E2F42;
--fazer-litl-text: #434455;


}

*
{
box-sizing: border-box;
}
body{
  
  font-family: 'Roboto', sans-serif;
  color: var(--fazer-litl-text);
  background-color:var(--button-stail-color-3);
  overflow: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img{
  display: block;
}

.effective{ 
box-sizing: content-box;
padding-top: 188px;
padding-bottom: 252px;
padding-left: 30px;
padding-right: 150px;
width: 1440px;
}
.effective>button{
display: flex;
flex-direction: row-reverse;
align-items: flex-start;
width: auto;
margin-left: 640px;
margin-right: 0px;
margin-top: 48px;
padding: 16px 32px;
}
.strategy>ul{
  display: flex;
    gap: 24px;
    padding-left: 152px;
    padding-top: 120px;
}
.picture>ul{
  display: flex;
  gap: 24px;
  padding-left: 152px;
  padding-top: 232px;
  margin-bottom: 120px;
}
.picture>h2
{
display: block;
padding-left: 10px;
padding-top: 120px;
padding-bottom: 0px;
}

.effective {
  padding: 188px 0 188px;

  background-color:var(--webstudio-backround);
}
.team>ul{
display: flex;
gap: 24px;
padding-top: 120px;
padding-left: 152px;
margin-bottom: 120px;
}
.effective-non{
max-width: 496px;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: var(--button-stail-color-3);
}
.non-button{
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
background-color:var(--button-stail-color-4--web-1);
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: var(--button-stail-color-3);
cursor: pointer
}
.non-button:hover,
.non-button:focus
{
background-color: var(--button-stail-color-2);
}

.button-list{
list-style: none;
}
.staile-button{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--button-stail-color-4--web-1);
  background-color: var(--button-stail-color);
 cursor: pointer;
}
.staile-button:hover,
.staile-button:focus
{
color: var(--button-stail-color-3);
background-color: var(--button-stail-color-2);
}
.piktures-list{
list-style: none;
}
.piktures-link{
text-decoration: none;

}
.lorem-list {
  list-style: none;
  background-color: var(--button-stail-color-3);
}
.strategy  {
  
padding: 120px 0 120px;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--webstudio-backround);
}

.our{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--fazer-litl-text);


}
.twha {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--webstudio-backround);
}
.twha .list{
  list-style: none
}
.team{
background-color:var(--button-stail-color);
padding: 120px 0 120px;
}
.strategy-team{
  margin-bottom: 72px;
}


.our .list{
list-style: none;
}
.tom{
  background-color: var(--button-stail-color-3);
}
.footer-text{
  line-height: 1.5;
  color: var(--button-stail-color);
  letter-spacing: 0.02em
}
footer>a{
    display: flex;
    padding-top: 50px;
   padding-bottom: 17.5px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--button-stail-color-4--web-1);
    text-decoration: none;


}

footer{

 height: 312px;
 min-width: 1440px;
 border: 1px solid var(--button-stail-color-3);
 padding-left: 156px;
 padding-top: 24px;
 padding-right: 0px;
 padding-bottom: 100px;
 

}

header>div>nav>a {
  font-family: "Raleway",sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color:var(--button-stail-color-4--web-1);
  text-decoration: none;
  margin-right: 76px
}

.asaide {
  color: var(--webstudio-backround);

}
.nav-list{
 
  list-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--webstudio-backround);
  
}
.link{
  text-decoration: none;
}
.nav-link{
  
  text-decoration: none; 
  color: var(--webstudio-backround);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}
nav>div>ul{
  margin-right: 76px;
  display: flex;
  gap: 40px;
  margin-right: 40px;
  margin-right: 0;
}
nav>ul>li{
  font-size: 16px;
  text-decoration: none;
  color: var(--webstudio-backround);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}
nav>ul>li>.link:hover,
nav>ul>li>.link:focus{
color: var(--button-stail-color-2);
}

nav .list{
  list-style: none
}
.list-studio{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--webstudio-backround);
}
.list-studio .link {
  text-decoration: none;
}
.list-studio a:hover,
.list-studio a:focus
{
color:var(--button-stail-color-2);
}
.kontakt-list{
  list-style: none;
}
header>ul>li .link{
  text-transform: none;
  
}

header>nav>ul>li .link{
text-transform: none;
}
address>ul>li>.link{
font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--fazer-litl-text);
  text-decoration: none;
}
address>ul>li>.link:hover,
address>ul>li>.link:focus{
color: var(--button-stail-color-2);
}


.footer-link{
background-color:var(--webstudio-backround);

}
.stail-web-studio{
color: var(--button-stail-color);

}

 .compani {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--webstudio-backround);
 }

 
.strategy-team{
  font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--webstudio-backround);
    margin-bottom: 72px;
}

.our-team{
  font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--fazer-litl-text);
    text-decoration: none;
  

}
.our-portfolio{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--fazer-litl-text);

}
.piktures-list link{
text-decoration: none;
}

.picture-container{
  display: flex;

}
header{
  display: block;
  max-width: 1440px;
  max-height: 72px;
}
.header-bar>ul{
display: flex;
gap: 24px;
padding-left: 380px;
}
.kontakt-head>.list{
  display: flex;
  align-items: end;
}
.compani-2>ul{
  display: flex;
 flex-wrap: wrap;
 gap: 24px;
padding-left: 156px;
}
.button-list>ul{
   display: flex;
   flex-direction: row-reverse;
    justify-content: center;
    gap: 24px;
    padding-left: 156px;
    padding-right: 145px;
    padding-bottom: 24px;
    padding-top: 24px;
 
}
.container{
  display: flex;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}
.container>ul
{
 display: flex;
  gap: 54px;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  

}
.arizona-hed{
border-bottom: 1px solid #e7e9fc
}
.arizona-nav{
  display: flex;
  align-items: center;
}
.arizona-nav>.link{

}